<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>班级说说</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
</head>
<body>

<% include header.ejs %>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <br>
        <h1>头像上传</h1>
        <br>
        <form action="/doSetavatar" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="avatar">选择头像上传</label>
                <input name="touxiang" type="file" id="avatar">
            </div>
            <button type="submit" class="btn btn-default">上传</button>
        </form>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
