<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>班级说说</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
</head>
<body>

<% include header.ejs %>

<div class="container">

    <div class="blog-header" style="margin-top: 50px;">
        <img src="/avatar/<%= useravatar %>" style="width: 60px;border-radius: 50%;margin-right: 10px;">
        <h1 class="blog-title" style="display: contents;"><%=user%>的个人主页</h1>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">
            <% for(let i=0;i<curentShuoshuo.length;i++){ %>
            <div class="blog-post">
                <hr>
                <p class="blog-post-meta"><%=curentShuoshuo[i].date%></p>
                <blockquote>
                    <p><%=curentShuoshuo[i].content%></p>
                </blockquote>
            </div>
            <% } %>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
