<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>socket.io</title>
</head>
<body>
    <form action="/check" method="get">
        用户名<input type="text" id="user" name="user">

        <input type="submit" value="登录">
    </form>
</body>
</html>