<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
	</head>
	<body>
		<div class="page">
			<% include components/top.inc.ejs %>
			<div class="content-wrap"></div>
		</div>
	</body>
</html>