<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
</head>
<body>
<form action="/doadd" method="get">
    <label>书名：</label> <input type="text" name="name"> <br>
    <label>作者：</label> <input type="text" name="author"> <br>
    <label>价格：</label> <input type="text" name="price"> <br>
    <input type="submit" value="添加">
</form>
</body>
</html>