<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
</head>
<body>
<form action="/doedit" method="get">
    <label>书名：</label> <input type="text" name="name" value="<%=name%>"> <br>
    <label>作者：</label> <input type="text" name="author" value="<%=author%>"> <br>
    <label>价格：</label> <input type="text" name="price" value="<%=price%>"> <br>
    <input type="submit" value="修改">
</form>
</body>
</html>