<!DOCTYPE html>
<html>
<head>
	<title>ejs test</title>
	<meta charset="utf-8">
</head>
<body>
	<!-- 
		= 等号 转义输出
		- 减号 原样输出
		include 只能加载文件不能加载变量
	 -->

	<div>
		<p>ejs test name</p>
	</div>

	<ul>
		
			<li> 账号: lee 密码: 123qwe </li>
		
			<li> 账号: amy 密码: sko442 </li>
		
			<li> 账号: blair 密码: s4s4ds </li>
		
			<li> 账号: lisa 密码: s7sd23 </li>
		
			<li> 账号: anie 密码: 44sw2d </li>
		
	</ul>

	<div>
		
		<span><i></i></span>
	</div>

	<style type="text/css">
		
				/*test2.css*/
body{background: #332}
		
	</style>
</body>
</html>