<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>koa post form</title>
</head>
<body>
<form action="/dopost" method="post">
    <label>用户名：<input type="text" name="username"></label>
    <label>密码：<input type="password" name="password"></label>
    <label><input type="submit" value="登录"></label>
</form>
</body>
</html>